<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<header></header>
		<section class="hero">
			<img src="/images/AppPreview.png" class="iPhone">
			<div class="rightSide">
				<h1><%= title %></h1>
				<p>Your Campus Transit - Simplified.</p>
			</div>
		</section>
	</body>
</html>