html {
  padding: 0;
  margin: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.hero {
  width: 90%;
  max-width: 1200px;
  background-color: #808080;
  margin: 0 auto;
}
.hero .iPhone {
  max-width: 600px;
  width: 40%;
  margin-left: 10%;
}
.hero .rightSide {
  max-width: 600px;
  width: 34%;
  margin-right: 10%;
  display: inline-block;
  margin-left: 5%;
  vertical-align: top;
}
